input {
  width: 50px;
  background: transparent;
  color: black;
  font-weight: bold;
  font-family: "Rajdhani", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  color: #4d5154;
}

.header-group {
  margin-left: 200px;
  width: 960px;
  max-width: 960px;
}

.right-align {
	margin-left: 400px;
}
